@media (max-width: 768px) {
i.fas{
	color: #fff;
}
.prev, .next{
	display: none;
}
.line0, .line1{
	scroll-behavior: smooth;
	color: #fff;
}
.gmap-loc{
	color: #fff;
}
.dropdown-menu{
	padding: 0;
}
.dropdown-menu>li{
	background: #333;
}
.dropdown-menu>li>a{
	padding-left: 7vw !important;
}
#slideImg{
	margin-top: 20px;
	width: 90%;
	height: 30vh;
	margin: 5% auto;
	border-radius: 10px;
	margin-bottom: 0;
}

.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background: rgb(0, 0, 0, 0);
  opacity: 100%;
  border-radius: 50%;
  border: 1px solid #fff;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.outerDot{
	position: relative;
	top: -30px;
	margin-bottom: 0px;
}

.active, .dot:hover {
  background-color: #fff;
  border: 4px solid #fff;
}
.main-msg{
	display: block;
	text-align: left;
	margin:2%;
}
.outer-msg{
	background: #fff;

	text-align: center;
	border-radius: 15px;
	margin-bottom: 0;
}
.msg{
	text-align: center;
	margin: auto;
	margin-bottom: 8%;
}
.msg:last-child{
	margin-bottom: 2%;
	margin-top: 4%;
}

.msg>img{
	margin: 0 auto;
	width: 17vh;
	height: 17vh;
	border-radius: 300px;

}
.multiple>img{
	border-radius: 10px;
}
.main-msg{
	font-family: sans-serif;

}

.main-msg>span{
	font-family: OpenSans-Light, sans-serif;
	font-weight: bold;
	font-size: 1.6em;
	color: #EF476F;

}
.multiple>span{
	font-size:1.8em;
}
.main-msg>p{
	font-size: 0.9em;
	font-family: sans-serif;
	text-align: justify;
}
.main-msg>p>span{
	font-size: 0.9em;
	font-family: Pacifico;
	text-align: justify;
	float: right;
}
hr{
	border: solid 1px #a3a3a3;
	width: 85vw;
	margin: 6% auto;
}

.msg.multiple{
	padding: 0 10px;
}
.main-msg.multiple:last-child{
	border-right: 0;
	padding-right: 0;
	margin-right: 0;
}
.msg.multiple{
	margin-right: 0;
}
.main-msg.multiple{
	padding-bottom: 6%;
	border-bottom: 2px solid #a3a3a3;
}
.main-msg.multiple:last-child{
	border-bottom: 0;
	padding-bottom: 0;
}
img.student{
	margin-top: 3%;
}
.main-msg.multiple>ul>li{
	font-size: 1em;
}
.main-msg.multiple>ul{
	padding-left: 30px;
}
.main-msg.multiple>ul>li>a{
	text-decoration: none;
}
.applynow>a>p{
	text-decoration: none;
	font-size: 11px;
	font-family: OpenSans-Bold;
	text-align: center;
	padding: 5px;
	margin: 0;
}
.applynow{
	padding: 5px;
	text-align: center;
}
.applynow>a:hover{
	color: #EF476F;
	text-decoration: none;
}
.main-msg.multiple>a>img{
	width: 80vw;
	margin: 0 auto;
}
.main-msg.multiple>p{
	margin-top: 0px;
	padding-left: 25%;
}

@font-face{
    font-family: Pacifico;
    src:url("../fonts/Pacifico.ttf");
}
@font-face{
    font-family: OpenSans-Light;
    src:url("../fonts/open-sans/OpenSans-Light.ttf");
}
@font-face{
    font-family: OpenSans-Bold;
    src:url("../fonts/open-sans/OpenSans-Bold.ttf");
}
@font-face{
    font-family: OpenSans-Semibold;
    src:url("../fonts/open-sans/OpenSans-Semibold.ttf");
}

body{
    margin: 0;
}
.body-container{
    text-align: center;
    margin: 0;
    padding: 0;
}
#bg-1{
    display: none;
}
#bg-2{
    display: none;
}
#bg-3{
    display: none;
}
#bg-4{
    display: none;
}
#bg-5{
    display: none;
}

.logo{
    width: 100vw;
    max-width: 100%;
}
.main-body{
    width: 100vw;
    max-width: 100%;
}
.navigation-body{
    width: 100vw;
    max-width: 100%
}
#navbarID{
    display: none;
}
.caret{
	color: #fff;
}
#toggleID{
    background: #333;
    padding: 10px;
    padding-left: 15px;
    width: 100vw;
    color:#fff;
    max-width: 100%;
    text-align: left;
    font-size: 1.3rem;
    
}
#toggleID>.caret{
    float: right;
    margin-top:6px;
}
a{
    text-align: left;
}

.error{
    margin-bottom: 15px;
    text-align: left;
    color: #ff0000;
}
.success{
    margin-bottom: 15px;
    color: #018001;
    font-family: OpenSans-Semibold;
    font-size: 120%;
    text-align: center;
}
.form-group>label>span{
    color: #ff0000;
}
.msg>span{
    font-size: 2em;
    font-family: sans-serif;
    color: #EF476F;
    font-variant: small-caps;
}
.college-name>span{
    font-family: OpenSans-Semibold;
    color:#007;
    font-size: 1.5rem;
}
.footer{
    width: 100vw;
    max-width: 100%;
    background: rgb(23, 18, 40);
    padding: 2%;
}

.footer>.top{
    display: flex;
}
.footer>.top>.footerHead{
    width: 50%;
    text-align: left;
    font-family: pacifico;
    font-size: 16px;
    color: #EF476F;
    margin-right: 8%;
}
.footerHead>.contact{
    font-size: 7px;
    font-family: sans-serif;
    color: #fff;
    padding: 1% 25px;
    border-right: 2px solid #a3a3a3;
}
.contact_sub{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.contact_sub:last-child{
    margin-bottom: 0;
}
.foot:hover{
    color: #c3c3c3;
    cursor: pointer;
}
.fas, .far{
    margin-right: 7px;
    font-size: 12px;
}
.fas:hover, .far:hover{
    color: #00ffff;
    cursor: pointer;
}
.sublinks{
    font-size: 7px;
    font-family: sans-serif;
    color: #fff;
    padding: 5px 40px;
    padding-bottom: 1px;
    padding-right: 0;
}
.sublinks>ul{
    padding: 0;
}
.sublinks>ul>li>a{
    text-decoration: none;
    color: #fff;
}
.sublinks>ul>li>a:hover{
    color: #c3c3c3;
}
.credits{
    background: #000;
    padding: 1%;
}
.bottom>.bt_info{
    display: inline-block;
    font-size: 10px;
    color: #decc8F;
}
.bottom>.contact_designer{
    display: none;
}
.bottom>.contact-designer>.redirect{
    display: inline-block;
}
.contact_designer>a>i{
    font-size: 1.4rem;
    margin-right: 5px;
    transition: 0.1s all;
}
.contact_designer>a>i:hover{
    text-decoration: none;
    transform: translateY(-2px);
}
.credits{
    width: 100vw;
    max-width: 100%;
    padding: 5px;
}
.fa-facebook-square{
    color: #3b5998;
}
.fa-instagram{
    color: #EF476F;
}
.fa-linkedin{
    color: #0e76a8;
}

}
@media (min-width: 768px){

#toggleID{
    display: none;
}
#navbarID{
    display: block;
}

html{
	scroll-behavior: smooth;
	margin: 0;
}
@font-face{
	font-family: Pacifico;
	src:url("../fonts/Pacifico.ttf");
}
@font-face{
	font-family: OpenSans-Light;
	src:url("../fonts/open-sans/OpenSans-Light.ttf");
}
@font-face{
	font-family: OpenSans-Bold;
	src:url("../fonts/open-sans/OpenSans-Bold.ttf");
}
@font-face{
	font-family: OpenSans-Semibold;
	src:url("../fonts/open-sans/OpenSans-Semibold.ttf");
}

body{
	margin: 0;
}
.body-container{
	text-align: center;
	margin: 0;
	padding: 0;
}
#bg-1{
	box-sizing: border-box;
	margin: 0;
	width: 100vw;
	max-width: 100%;
	background: rgb(23, 18, 40);
	position: absolute;
	z-index: -1;
	border-bottom: 2px solid #fff;
}
#bg-2{
	box-sizing: border-box;
	margin: 0;
	width: 100vw;
	max-width: 100%;
	background: #041771;
	position: absolute;
	z-index: -1;
	border-bottom: 2px solid #fff;
}
#bg-3{
	box-sizing: border-box;
	margin: 0;
	width: 100vw;
	max-width: 100%;
	background: linear-gradient(#12ffff 0%, #cdff12 100%);
	position: absolute;
	z-index: -1;
}
#bg-4{
	box-sizing: border-box;
	margin: 0;
	width: 100vw;
	max-width: 100%;
	background: rgb(23, 18, 40);
	position: absolute;
	z-index: -1;
}
#bg-5{
	box-sizing: border-box;
	margin: 0;
	width: 100vw;
	max-width: 100%;
	background: #000;
	position: absolute;
	z-index: -1;
}
.main-body{
	width: 980px;
	margin: 0 auto;
}
.logo{
	width: 900px;
}
.header{
	border-bottom: 2px solid #fff;
}

.navigation-body{
	width: 980px;
}
.navbar-inverse{
	background: #041771;
	border: 0px;
	border-radius: 0;
	text-transform: uppercase;
	font-family: OpenSans-Bold;
	font-weight: bold;
	font-size: 1.23rem;
}
.container-fluid{
	margin: auto;
	padding: 0;
}
.active-link{
	background:#3333ff;
}
.navbar-nav>li{
	border-right: 2px solid #fff;
}
.navbar-nav>li:first-child{
	border-left: 2px solid #fff;
}
.navbar-inverse .navbar-nav>li>a {
	box-sizing: border-box;
    color: #fff;
    padding: 5px 12.5px;
 
}
.dropdown-menu>li{
	border: 0;
}
.navbar{
	min-height: 30px;
	margin-bottom: 2px;
}
.navbar-inverse .navbar-nav>li>a:hover{
	background: #8888ff;
	color: #000;
}
.body-content{
	width: 980px;
	padding-bottom: 20px;
	margin: auto;
	background: rgb(241, 245, 248);
}
.prev, .next{
	display: inline-block;
	font-size: 28px;
	cursor: pointer;
	color: #fff;
	position: relative;
	left: 50px;
	transition: 0.6s ease;
	border-radius: 0 10px 10px 0;
	padding: 16px;
}
.next{
	left: -50px;
	border-radius: 10px 0 0 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
#slideImg{
	margin-top: 20px;
	width: 810px;
	height: 450px;
	margin: 2% auto;
	border-radius: 10px;
	margin-bottom: 0;
}
.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background: rgb(0, 0, 0, 0);
  opacity: 100%;
  border-radius: 50%;
  border: 1px solid #fff;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.outerDot{
	position: relative;
	top: -60px;
	margin-bottom: 0px;
}

.active, .dot:hover {
  background-color: #fff;
  border: 6px solid #fff;
}

.outer-msg{
	background: #fff;
	margin: 2%;
	padding:2%;
	text-align: center;
	border-radius: 15px;
	margin-bottom: 0;
}
.msg{
    align-items: center;
	text-align: left;
	margin: auto;
	display: flex;
	padding: 0 50px;
	margin-bottom: 4%;
}
.msg:last-child{
	margin-bottom: 2%;
	margin-top: 4%;
}

.msg>img{
	width: 180px;
	height: 180px;
	flex: 0 1 auto;
	position: relative;
	border-radius: 300px;
}
.multiple>img{
	border-radius: 10px;
}
.main-msg{
	flex: 2;
	font-family: sans-serif;
	padding:  35px 26px;
}

.main-msg>span{
	font-family: OpenSans-Light, sans-serif;
	font-weight: bold;
	font-size: 2em;
	color: #EF476F;

}
.multiple>span{
	font-size:1.8em;
}
.main-msg>p{
	font-size: 1.1em;
	font-family: sans-serif;
	text-align: justify;
}
.main-msg>p>span{
	font-size: 1.1em;
	font-family: Pacifico;
	text-align: justify;
	float: right;
}
hr{
	border: solid 1px #a3a3a3;
	width: 600px;
	margin-bottom: 4%;
}

.msg.multiple{
	padding: 0 10px;
}
.main-msg.multiple{
	border-right: 2px solid #a3a3a3;
	margin-right: 3%;
}
.main-msg.multiple:last-child{
	border-right: 0;
	padding-right: 0;
	margin-right: 0;
}
.msg.multiple{
	margin-right: 0;
	align-items: center;
}
.main-msg.multiple>ul>li{
	font-size: 1.2em;
}
.main-msg.multiple>ul{
	padding-left: 30px;
}
.main-msg.multiple>ul>li>a{
	text-decoration: none;
}
.main-msg.applynow{
	text-align: center;
	margin-right: 0;
}
.applynow>a>p{
	text-decoration: none;
	font-size: 15px;
	font-family: OpenSans-Bold;
	text-align: center;
	padding: 5px;
	margin: 0;
}
.applynow{
	padding: 0px;
}
.applynow>a:hover{
	color: #EF476F;
	text-decoration: none;
}
.main-msg.multiple>a>img{
	width: 300px;
}
.main-msg.multiple>p{
	margin-top: 0px;
	padding-left: 25%;
}
.footer{
	width: 980px;
	background: rgb(23, 18, 40);
	padding: 2%;
}

.footer>.top{
	display: flex;
	justify-content: center;
}
.footerHead.i{
	flex:2;
}
.footerHead{
	flex: 1.5;
}
.footer>.top>.footerHead{
	text-align: left;
	font-family: pacifico;
	font-size: 2.2em;
	color: #EF476F;
	margin: 0 50px;
}
.footer>.top>.footerHead:last-child{
	margin-right: 0;
	margin-left: 0;
}
.footerHead>.contact{
	font-size: 1.4rem;
	font-family: OpenSans-Light, sans-serif;
	font-weight: bold;
	color: #fff;
	padding: 6px 40px;
	border-right: 2px solid #a3a3a3;
	width: 420px;
}
.addr{
	display: inline-block;
}
.location>a{
	text-decoration: none;
	color: #fff;
}
.location>a:hover{
	color:#c3c3c3;
}
.contact_sub{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.contact_sub:last-child{
	margin-bottom: 0;
}
.foot:hover{
	color: #c3c3c3;
	cursor: pointer;
}
.fas, .far{
	margin-right: 20px;
	font-size: 1.5em;
}
.contact_sub>.fas:hover, .contact_sub>.far:hover{
	color: #00ffff;
	cursor: pointer;
}

.location>div{
	display: inline-block;
	vertical-align: baseline;
}
.sublinks{
	font-size: 1.4rem;
	font-family: OpenSans-Light,sans-serif;
	font-weight: bold;
	color: #fff;
	padding: 5px 40px;
	padding-bottom: 1px;
	padding-right: 100px;
}
.sublinks>ul{
	padding: 0;
}
.sublinks>ul>li>a{
	text-decoration: none;
	color: #fff;
}
.sublinks>ul>li>a:hover{
	color: #c3c3c3;
}
.credits{
	width: 980px;
	background: #000;
	padding: 1%;
}
.bottom>.bt_info{
	display: inline-block;
	margin-right: 60px;
	color: #decc8F;
}
.bottom>.contact_designer{
	display: inline-block;
}
.bottom>.contact-designer>.redirect{
	display: inline-block;
}
.contact_designer>a>i{
	font-size: 1.4em;
	margin-right: 5px;
	transition: 0.1s all;
}
.contact_designer>a>i:hover{
	text-decoration: none;
	transform: translateY(-2px);
}
.credits{
	padding: 5px;
}
.fa-facebook-square{
	color: #3b5998;
}
.fa-instagram{
	color: #EF476F;
}
.fa-linkedin{
	color: #0e76a8;
}
}